
body {
    background-color: rgb(88, 88, 88);
    margin: 0;
}

nav {
    background-color: black;
    padding: 15px 24px 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarlogo {
    width: 35px; height: 35px;
    padding: 0px 40px; 
}

#carticon {
    width: 23px; height: 19;
}
#searchicon {
    width: 23px; height: 19;
}




#navbarlinks a {
    color: #888;
    text-decoration: none;

}

nav div a {
    color: rgb(54, 54, 54);
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0px 40px;  
    

}

p {;
    color: white;
    text-align: center;
}

#nintendoswitch {
    position: relative;
    width: 100%; height: 100%;
}

#kitsune {
    position: relative;
    width: 100%; height: 100%;

}

#backtoschool {
    position: relative;
    width: 100%; height: 100%;

}














